@media (max-width: 600px) {
  .card {
    width: 95%;
    max-width: 100%;
    /* position: fixed; */
    height: 100%;
  }

  .btn--btnbody {
    width: 100%;
    justify-content: center;
  }
  .bottom-div {
    margin-top: 20px;
  }
  .text {
    font-size: 60px;
  }
  .input-box {
    width: 100%;
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  .text {
    font-size: 40px;
  }
}
